<h1>Listing transports</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Share</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transports.each do |transport| %>
      <tr>
        <td><%= transport.name %></td>
        <td><%= transport.share %></td>
        <td><%= link_to 'Show', transport %></td>
        <td><%= link_to 'Edit', edit_transport_path(transport) %></td>
        <td><%= link_to 'Destroy', transport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transport', new_transport_path %>
