<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @transport.name %>
</p>

<p>
  <strong>Share:</strong>
  <%= @transport.share %>
</p>

<%= link_to 'Edit', edit_transport_path(@transport) %> |
<%= link_to 'Back', transports_path %>
