<%= form_for(@application, :html => {:class => "rs-form-horizontal"} ) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div id="wrap">
      <div id="main">
      <h2>Complexity Information</h2>
        <div class="rs-control-group">
          <%= f.label :customer_id,  :class => "rs-control-label" %>
          <div class="rs-controls">
            <%= f.number_field :customer_id %>
          </div>
       </div>

       <div class="rs-control-group">
         <%= f.label :name , :class => "rs-control-label" %>
         <div class="rs-controls">
           <%= f.text_field :name, :class => "rs-input-large"  %>
         </div>
       </div>

       <div class="rs-control-group">
         <%= f.label :servers , :class => "rs-control-label" %>
         <div class="rs-controls">
           <%= f.number_field :servers, :class => "rs-input-small" %>
         </div>
       </div>

       <div class="rs-control-group">
         <%= f.label :tiers , :class => "rs-control-label" %>
         <div class="rs-controls">
           <%= f.number_field :tiers , :class => "rs-input-small" %>
         </div>
       </div>

       <div class="rs-control-group">
         <%= f.label :style , :class => "rs-control-label" %>
         <div class="rs-controls">
           <%= f.select :style , Application::STYLES %>
         </div>
       </div>

       <div class="rs-control-group">
         <%= f.label :provider, :class => "rs-control-label" %>
         <div class="rs-controls">
           <%= f.select :provider, Application::PROVIDERS %>
         </div>
       </div>

       <div class="rs-control-group">
         <%= f.label :customization, :class => "rs-control-label" %>
         <div class="rs-controls">
           <%= f.select :customization, Application::RATING %>
         </div>
       </div>

       <div class="rs-control-group">
    <%= f.label :consumer, :class => "rs-control-label"  %>
         <div class="rs-controls">
    <%= f.select :consumer, Application::CONSUMER_TYPES %>
  </div>
  </div>

  <div class="rs-control-group">
    <%= f.label :consumption, :class => "rs-control-label" %>
         <div class="rs-controls">
    <%= f.select :consumption, Application::CONSUMPTION_TYPES %>
  </div>
  </div>

  <div class="rs-control-group">
    <%= f.label :transport , :class => "rs-control-label"%>
         <div class="rs-controls">
    <%= f.select :transport, Application::TRANSPORT_TYPES %>
  </div>
  </div>
  <div class="rs-control-group">
    <%= f.label :integration, :class => "rs-control-label" %>
         <div class="rs-controls">
    <%= f.select :integration, Application::RATING %>
  </div>
  </div>

  <div class="rs-control-group">
    <%= f.label :inhouse , :class => "rs-control-label" %>
         <div class="rs-controls">
    <%= f.select :inhouse, Application::YES_NO_TYPES %>
  </div>
  </div>
  <div class="rs-control-group">
    <%= f.label :contracted , :class => "rs-control-label" %>
         <div class="rs-controls">
    <%= f.select :contracted, Application::YES_NO_TYPES %>
  </div>
  </div>
  </div>

  <div id="sidebar">

    <div>   
      <h2>Risk Information</h2>
      <div class="rs-control-group">
        <%= f.label :criticality , :class => "rs-control-label" %>
        <div class="rs-controls">
          <%= f.select :criticality, Application::BIZ_CRITICALITY_TYPES %>
        </div>
      </div>

      <div class="rs-control-group">
        <%= f.label :sensitivity , :class => "rs-control-label" %>
        <div class="rs-controls">
          <%= f.select :sensitivity, Application::RATING %>
        </div>
      </div>

      <div class="rs-control-group">
        <%= f.label :regulatory, :class => "rs-control-label" %>
        <div class="rs-controls">
          <%= f.select :regulatory, Application::REGULATORY_TYPES %>
        </div>
      </div>

      <div class="rs-control-group">
        <%= f.label :constraint , :class => "rs-control-label" %>
        <div class="rs-controls">
          <%= f.select :constraint, Application::TIME_WINDOWS %>
        </div>
      </div>
    </div>
  </div>


  <div id="sidebar2">
    <div>
      <h2>Assessment Information</h2>
      <div class="rs-control-group">
        <%= f.label :bucket , :class => "rs-control-label" %>
        <div class="rs-controls">
          <%= f.select :bucket, Application::BUCKET_TYPES %>
        </div>
      </div>
      <div class="rs-control-group">
        <%= f.label :phase , :class => "rs-control-label" %>
        <div class="rs-controls">
          <%= f.select :phase, Application::PHASE_TYPES %>
        </div>
      </div>
      <div class="rs-control-group">
        <%= f.label :solution , :class => "rs-control-label" %>
        <div class="rs-controls">
          <%= f.select :solution, Application::SOLUTION_TYPES %>
        </div>
      </div>

    </div>

  </div>

  <div id="footer">
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>

  </div>

<% end %>
