<%= link_to 'Add Application', new_application_path, :class => "rs-btn rs-primary" %>

<% if @customer
%>

    <%= link_to 'Export to CSV', customer_applications_path(@customer, :format => "csv" ), :class => "rs-btn rs-primary" %>
    <span>&nbsp;&nbsp;&nbsp;</span>
    <%= link_to 'Score', score_customer_path(@customer), :class => "rs-link" %>
    <br />
    <br />
    <h1>Listing applications for customer <%= @customer.name %></h1>
<%else%>
    <br />
    <br />
    <h1>Listing applications for all customers</h1>
<% end %>

<!--div style="width:100%;height:600px;overflow: auto;">
</div -->

<table id="applications" class="display">
  <thead>
    <tr>
      <th>Actions</th>
      <th>Customer ID</th>
      <th>Name</th>
      <th>Servers</th>
      <th>Tiers</th>
      <th>Style</th>
      <th>Provider</th>
      <th>Customization</th>
      <th>Consumer</th>
      <th>Consumption</th>
      <th>Transport</th>
      <th>Integration</th>
      <th>Inhouse</th>
      <th>Contracted</th>
      <th>Criticality</th>
      <th>Sensitivity</th>
      <th>Regulatory</th>
      <th>Constraint</th>
      <th>Bucket</th>
      <th>Phase</th>
      <th>Solution</th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td style="font-size:10px;width: 100px;">
          <div class="rs-btn-group">
            <%= link_to '', edit_application_path(application), :class => "rs-edit" %>
            <%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
        <td><%= application.customer_id %></td>
        <td style="font-size:10px;"><%= link_to application.name, application, :class => "rs-link" %></td>
        <td style="font-size:10px;" ><%= application.servers %></td>
        <td style="font-size:10px;" ><%= application.tiers %></td>
        <td style="font-size:10px;" ><%= application.style %></td>
        <td style="font-size:10px;" ><%= application.provider %></td>
        <td style="font-size:10px;" ><%= application.customization %></td>
        <td style="font-size:10px;" ><%= application.consumer %></td>
        <td style="font-size:10px;" ><%= application.consumption %></td>
        <td style="font-size:10px;" ><%= application.transport %></td>
        <td style="font-size:10px;" ><%= application.integration %></td>
        <td style="font-size:10px;" ><%= application.inhouse %></td>
        <td style="font-size:10px;"><%= application.contracted %></td>
        <td style="font-size:10px;"><%= application.criticality %></td>
        <td style="font-size:10px;"><%= application.sensitivity %></td>
        <td style="font-size:10px;"><%= application.regulatory %></td>
        <td style="font-size:10px;"><%= application.constraint %></td>
        <td style="font-size:10px;"><%= application.bucket %></td>
        <td style="font-size:10px;"><%= application.phase %></td>
        <td style="font-size:10px;"><%= application.solution %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= javascript_include_tag "jquery.dataTables.min"%>
<%= javascript_include_tag "FixedHeader"%>

<script type="text/javascript">
    var oTable = $('#applications').dataTable( { 
        "sScrollX": "800px",
        "sScrollY": "600px",
        "bScrollCollapse" : true
    });
    //new FixedHeader( oTable );
</script>
