<%= link_to 'New Application', new_application_path, :class => "rs-btn rs-primary" %>

<br />
<br />
<% if @customer
%>
    <h1>Listing applications for customer <%= @customer.name %></h1>
<%else%>
    <h1>Listing applications for all customers</h1>
<% end %>

<table style="font-size:10px;">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Name</th>
      <th>Servers</th>
      <th>Tiers</th>
      <th>Style</th>
      <th>Provider</th>
      <th>Customization</th>
      <th>Consumer</th>
      <th>Consumption</th>
      <th>Transport</th>
      <th>Integration</th>
      <th>Inhouse</th>
      <th>Contracted</th>
      <th>Criticality</th>
      <th>Sensitivity</th>
      <th>Regulatory</th>
      <th>Constraint</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.customer_id %></td>
        <td style="font-size:10px;"><%= link_to application.name, application, :class => "rs-link" %></td>
        <td style="font-size:10px;" ><%= application.servers %></td>
        <td style="font-size:10px;" ><%= application.tiers %></td>
        <td style="font-size:10px;" ><%= application.style %></td>
        <td style="font-size:10px;" ><%= application.provider %></td>
        <td style="font-size:10px;" ><%= application.customization %></td>
        <td style="font-size:10px;" ><%= application.consumer %></td>
        <td style="font-size:10px;" ><%= application.consumption %></td>
        <td style="font-size:10px;" ><%= application.transport %></td>
        <td style="font-size:10px;" ><%= application.integration %></td>
        <td style="font-size:10px;" ><%= application.inhouse %></td>
        <td style="font-size:10px;"><%= application.contracted %></td>
        <td style="font-size:10px;"><%= application.criticality %></td>
        <td style="font-size:10px;"><%= application.sensitivity %></td>
        <td style="font-size:10px;"><%= application.regulatory %></td>
        <td style="font-size:10px;"><%= application.constraint %></td>
        <td style="font-size:10px;">
          <div class="rs-btn-group">
            <%= link_to '', edit_application_path(application), :class => "rs-edit" %>
            <%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

