<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @application.customer_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>Servers:</strong>
  <%= @application.servers %>
</p>

<p>
  <strong>Tiers:</strong>
  <%= @application.tiers %>
</p>

<p>
  <strong>Style:</strong>
  <%= @application.style %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @application.provider %>
</p>

<p>
  <strong>Customization:</strong>
  <%= @application.customization %>
</p>

<p>
  <strong>Consumer:</strong>
  <%= @application.consumer %>
</p>

<p>
  <strong>Consumption:</strong>
  <%= @application.consumption %>
</p>

<p>
  <strong>Transport:</strong>
  <%= @application.transport %>
</p>

<p>
  <strong>Integration:</strong>
  <%= @application.integration %>
</p>

<p>
  <strong>Inhouse:</strong>
  <%= @application.inhouse %>
</p>

<p>
  <strong>Contracted:</strong>
  <%= @application.contracted %>
</p>

<p>
  <strong>Criticality:</strong>
  <%= @application.criticality %>
</p>

<p>
  <strong>Sensitivity:</strong>
  <%= @application.sensitivity %>
</p>

<p>
  <strong>Regulatory:</strong>
  <%= @application.regulatory %>
</p>

<p>
  <strong>Constraint:</strong>
  <%= @application.constraint %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
