<h1>Listing customers</h1>

<table style="width:30%" class="rs-list-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Applications</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.name, customer, :class => "rs-link" %></td>
        <td><%= link_to 'Applications', customer_applications_url(customer), :class => "rs-link" %></td>
        <td>
          <div class="rs-btn-group">
            <%= link_to '', edit_customer_path(customer), :class => "rs-edit" %>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <%= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' }  %>
          </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="rs-btn-group">
  <%= link_to 'New Customer', new_customer_path, :class => "rs-btn rs-btn-primary" %>
</div>
