<p id="notice"><%= notice %></p>

<p>
  <strong>Customer Name:</strong>
  <%= link_to @customer.name, customer_path(@customer) %>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <%= link_to 'Applications', customer_applications_path(@customer) %>
</p>


<%= javascript_include_tag "jquery.jqplot.min"%>
<%= javascript_include_tag "jqplot.barRenderer.min"%>
<%= javascript_include_tag "jqplot.categoryAxisRenderer.min"%>
<%= javascript_include_tag "jqplot.canvasTextRenderer.min" %>
<%= javascript_include_tag "jqplot.canvasAxisTickRenderer.min" %>
<%= javascript_include_tag "jqplot.pointLabels.min"%>
<%= javascript_include_tag "jqplot.dateAxisRenderer.min"%>
<%= javascript_include_tag "canvas2image"%>
<%= javascript_include_tag "jqplot.bubbleRenderer.min"%>
<%= javascript_include_tag "jqplot.cursor.min"%>
<%= javascript_include_tag "excanvas"%>
<%= javascript_include_tag "jqplot.pieRenderer.min"%>
<%= javascript_include_tag "jqplot.pointLabels.min"%>
<%= javascript_include_tag "jqplot.canvasAxisLabelRenderer.min"%>
<%= javascript_include_tag "jqplot.highlighter.min"%>
<%= javascript_include_tag "jquery-ui"%>
<%= javascript_include_tag "jquery.dataTables.min"%>


<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Score</a></li>
        <li><a href="#tabs-2">Risk</a></li>
        <li><a href="#tabs-3">Complexity</a></li>
        <li><a href="#tabs-4">Risk vs Complexity</a></li>
        <li><a href="#tabs-5">Buckets</a></li>
        <li><a href="#tabs-6">Phases</a></li>
        <li><a href="#tabs-7">Solution</a></li>
    </ul>
    <div id="tabs-1">
<table id="applications" class="display">
    <thead>
        <tr>
            <th>Application</th>
            <th>Servers</th>
            <th>Tiers</th>
            <th>Arch Style</th>
            <th>Provider</th>
            <th>Customization</th>
            <th>Consumer</th>
            <th>Consumption</th>
            <th>Transport</th>
            <th>Integration</th>
            <th>In-House</th>
            <th>Extrernally Contracted</th>
            <th>Total Complexity Score</th>
            <th> </th>
            <th>Biz Criticality</th>
            <th>Data Sensitivity</th>
            <th>Regulatory</th>
            <th>Constraint</th>
            <th>Total Risk Score</th>
        </tr>
    </thead>
<%

    def update(h, k) 
        if h.has_key?(k)
            h[k] += 1
        else
            h[k] = 1
        end
        return h
    end

    def add(h, k, v)
        if not h.has_key?(k)
            h[k] = []
        end
        h[k] << [v]
        return h
    end

    def hash2array(h) 
        a = []
        h.each do |k, v|
            a << [k, v]
        end
        return a
    end

    complexity_data = []
    risk_data = []
    risk_complexity_data = []
    bucket_data = {}
    phase_data = {}
    solution_data = {}

    buckets = {}
    phases = {}
    solutions = {}

    @complexity_scores.each do |name, c|
        complexity_data << [name, c['totalScore']]
        risk_data << [name, @risk_scores[name]['totalScore']]
        risk_complexity_data << [@risk_scores[name]['totalScore'], c['totalScore'], 10, name]
        bkt = @assessments[name]['bucket']
        update(bucket_data, bkt)
        add(buckets, bkt, name)
        update(phase_data, @assessments[name]['phase'])
        add(phases, @assessments[name]['phase'], name)
        update(solution_data, @assessments[name]['solution'])
        add(solutions, @assessments[name]['solution'], name)
%>
    <tr>
        <td><%= name %></td>
        <td><%= c['servers'] %></td>
        <td><%= c['tiers'] %></td>
        <td><%= c['archStyle'] %></td>
        <td><%= c['provider'] %></td>
        <td><%= c['customization'] %></td>
        <td><%= c['consumer'] %></td>
        <td><%= c['consumption'] %></td>
        <td><%= c['transport'] %></td>
        <td><%= c['integration'] %></td>
        <td><%= c['inhouse'] %></td>
        <td><%= c['contracted'] %></td>
        <td><%= c['totalScore'] %></td>
        <td> </td>

        <td><%= @risk_scores[name]['criticality'] %></td>
        <td><%= @risk_scores[name]['sensitivity'] %></td>
        <td><%= @risk_scores[name]['regulatory'] %></td>
        <td><%= @risk_scores[name]['constraint'] %></td>
        <td><%= @risk_scores[name]['totalScore'] %></td>

    </tr>
<% end %>
    </tbody>
</table>

<%
    puts "Printing complexity data"
    puts complexity_data
%>
    </div>
    <div id="tabs-2">
        <% render_jqplot_chart(risk_data, 'Risk', 800, 500)  %>
    </div>
    <div id="tabs-3">
        <% render_jqplot_chart(complexity_data, 'Complexity', 800, 500)  %>
    </div>
    <div id="tabs-4">
        <% render_jqplot_scatter(risk_complexity_data, 'rsk_cplxty', 'Risk vs. Complexity', 'Risk Score', 'Complexity Score', 1000, 800) %>
    </div>
    <div id="tabs-5">
        <% 
           render_jqplot_pie(hash2array(bucket_data), 'Buckets', 700, 500) 
           i = 1
           buckets.each do |bucket, apps|
               render_table("buckets_table_"  + i.to_s , ["Application"], apps, bucket, "display mini")
               i += 1
           end
         %>
    </div>
    <div id="tabs-6">
        <% render_jqplot_pie(hash2array(phase_data), 'Phases', 700, 500) 
           i = 1
           phases.each do |phase, apps|
               render_table("phases_table_" + i.to_s, ["Application"], apps, phase, "display mini")
               i += 1
           end
        %>
    </div>
    <div id="tabs-7">
        <% render_jqplot_pie(hash2array(solution_data), 'Solutions', 700, 500)
           i = 1
           solutions.each do |soln, apps|
               render_table("solutions_table_" + i.to_s, ["Application"], apps, soln, "display mini")
               i += 1
           end
        %>
    </div>
</div>

<script>
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>

<script type="text/javascript">
    var oTable = $('#applications').dataTable( {
        "sScrollX": "800px",
        "sScrollY": "600px",
        "bSort": false,
        "bScrollCollapse" : true
        });
    $("#applications tbody").click(function(event) { 
        $(oTable.fnSettings().aoData).each(function() {
            $(this.nTr).removeClass('row_selected');
        });
        $(event.target.parentNode).addClass('row_selected');
    });

    var sTable = $('table.mini').dataTable( {
        "sScrollX": "300px",
        "sScrollY": "300px",
        "bScrollCollapse" : true,
        "bSort": false,
        "bSearchable": false,
        "bPaginate": false,
        "bFilter": false
        });
</script>
