<p id="notice"><%= notice %></p>

<p>
  <strong>Customer Name:</strong>
  <%= @customer.name %>
</p>

<div style="width:100%;height:600px;overflow: auto;">
<table border="1" cellpadding="1">
    <thead>
        <tr>
            <th>Application</th>
            <th>Servers</th>
            <th>Tiers</th>
            <th>Arch Style</th>
            <th>Provider</th>
            <th>Customization</th>
            <th>Consumer</th>
            <th>Consumption</th>
            <th>Transport</th>
            <th>Integration</th>
            <th>In-House</th>
            <th>Extrernally Contracted</th>
            <th>Total Complexity Score</th>
            <th> </th>
            <th>Biz Criticality</th>
            <th>Data Sensitivity</th>
            <th>Regulatory</th>
            <th>Constraint</th>
            <th>Total Risk Score</th>
        </tr>
    </thead>
<%
    complexity_data = []
    risk_data = []
    @complexity_scores.each do |name, c|
        complexity_data << [name, c['totalScore']]
        risk_data << [name, @risk_scores[name]['totalScore']]
 %>
    <tr>
        <td><%= name %></td>
        <td><%= c['servers'] %></td>
        <td><%= c['tiers'] %></td>
        <td><%= c['archStyle'] %></td>
        <td><%= c['provider'] %></td>
        <td><%= c['customization'] %></td>
        <td><%= c['consumer'] %></td>
        <td><%= c['consumption'] %></td>
        <td><%= c['transport'] %></td>
        <td><%= c['integration'] %></td>
        <td><%= c['inhouse'] %></td>
        <td><%= c['contracted'] %></td>
        <td><%= c['totalScore'] %></td>
        <td> </td>

        <td><%= @risk_scores[name]['criticality'] %></td>
        <td><%= @risk_scores[name]['sensitivity'] %></td>
        <td><%= @risk_scores[name]['regulatory'] %></td>
        <td><%= @risk_scores[name]['constraint'] %></td>
        <td><%= @risk_scores[name]['totalScore'] %></td>

    </tr>
<% end %>
    </tbody>
</table>
</div>


<%= javascript_include_tag "jquery.jqplot.min"%>
<%= javascript_include_tag "jqplot.barRenderer.min"%>
<%= javascript_include_tag "jqplot.categoryAxisRenderer.min"%>
<%= javascript_include_tag "jqplot.canvasTextRenderer.min" %>
<%= javascript_include_tag "jqplot.canvasAxisTickRenderer.min" %>
<%= javascript_include_tag "jqplot.pointLabels.min"%>
<%= javascript_include_tag "jqplot.dateAxisRenderer.min"%>
<%= javascript_include_tag "canvas2image"%>

<% 
    render_jqplot_chart(complexity_data, 'Complexity', 800, 500) 
%>
<br />
<br />
<%

    render_jqplot_chart(risk_data, 'Risk', 800, 500) 
%>

<%= link_to '', edit_customer_path(@customer), :class => "rs-edit" %> |
<%= link_to 'Back', customers_path %>

