
<p id="notice"><%= notice %></p>

<p>
  <strong>Customer Name:</strong>
  <%= @customer.name %>
</p>

<table border="1" cellpadding="1">
    <thead>
        <tr>
            <th>Application</th>
            <th>Servers</th>
            <th>Tiers</th>
            <th>Arch Style</th>
            <th>Provider</th>
            <th>Customization</th>
            <th>Consumer</th>
            <th>Consumption</th>
            <th>Transport</th>
            <th>Integration</th>
            <th>In-House</th>
            <th>Extrernally Contracted</th>
            <th>Total Complexity Score</th>
            <th> </th>
            <th>Biz Criticality</th>
            <th>Data Sensitivity</th>
            <th>Regulatory</th>
            <th>Constraint</th>
            <th>Total Risk Score</th>
        </tr>
    </thead>
    <tbody>
<% @complexity_scores.each do |name, c| %>
    <tr>
        <td><%= name %></td>
        <td><%= c['servers'] %></td>
        <td><%= c['tiers'] %></td>
        <td><%= c['archStyle'] %></td>
        <td><%= c['provider'] %></td>
        <td><%= c['customization'] %></td>
        <td><%= c['consumer'] %></td>
        <td><%= c['consumption'] %></td>
        <td><%= c['transport'] %></td>
        <td><%= c['integration'] %></td>
        <td><%= c['inhouse'] %></td>
        <td><%= c['contracted'] %></td>
        <td><%= c['totalScore'] %></td>
        <td> </td>

        <td><%= @risk_scores[name]['criticality'] %></td>
        <td><%= @risk_scores[name]['sensitivity'] %></td>
        <td><%= @risk_scores[name]['regulatory'] %></td>
        <td><%= @risk_scores[name]['constraint'] %></td>
        <td><%= @risk_scores[name]['totalScore'] %></td>

    </tr>
<% end %>
    <tbody>
</table>
<%= javascript_include_tag "FusionCharts"%>
<%
    str_xml = render :file => "customers/complexity_data"
    render_chart '/FusionCharts/FCF_Bar2D.swf' , '', str_xml, 'ComplexityScore' ,  800 , 500,  false, {:renderer => "javascript"} do -%>
<%  end -%>

<%
    str_xml = render :file => "customers/risk_data"
    render_chart '/FusionCharts/FCF_Bar2D.swf' , '', str_xml, 'RiskScore' ,  800 ,  500, false, {:renderer => "javascript"} do -%>
<%  end -%>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
