<p id="notice"><%= notice %></p>

<p>
  <strong>Customer Name:</strong>
  <%= link_to @customer.name, customer_path(@customer) %>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <%= link_to 'Applications', customer_applications_path(@customer) %>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <a href="#risk">Graph for Risk Score</a>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <a href="#complexity">Graph for Complexity Score</a>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <a href="#complexity_risk">Scatter Plot for Risk vs. Complexity Score</a>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <a href="#buckets">Buckets</a>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <a href="#phases">Phases</a>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <a href="#solutions">Solutions</a>
</p>

<!--div style="width:100%;height:600px;overflow: auto;">
</div-->
<table id="applications" class="display">
    <thead>
        <tr>
            <th>Application</th>
            <th>Servers</th>
            <th>Tiers</th>
            <th>Arch Style</th>
            <th>Provider</th>
            <th>Customization</th>
            <th>Consumer</th>
            <th>Consumption</th>
            <th>Transport</th>
            <th>Integration</th>
            <th>In-House</th>
            <th>Extrernally Contracted</th>
            <th>Total Complexity Score</th>
            <th> </th>
            <th>Biz Criticality</th>
            <th>Data Sensitivity</th>
            <th>Regulatory</th>
            <th>Constraint</th>
            <th>Total Risk Score</th>
        </tr>
    </thead>
<%

    def update(h, k) 
        if h.has_key?(k)
            h[k] += 1
        else
            h[k] = 1
        end
        return h
    end

    def hash2array(h) 
        a = []
        h.each do |k, v|
            a << [k, v]
        end
        return a
    end

    complexity_data = []
    risk_data = []
    risk_complexity_data = []
    bucket_data = {}
    phase_data = {}
    solution_data = {}

    @complexity_scores.each do |name, c|
        complexity_data << [name, c['totalScore']]
        risk_data << [name, @risk_scores[name]['totalScore']]
        risk_complexity_data << [@risk_scores[name]['totalScore'], c['totalScore'], 10, name]
        bkt = @assessments[name]['bucket']
        update(bucket_data, bkt)
        update(phase_data, @assessments[name]['phase'])
        update(solution_data, @assessments[name]['solution'])
 %>
    <tr>
        <td><%= name %></td>
        <td><%= c['servers'] %></td>
        <td><%= c['tiers'] %></td>
        <td><%= c['archStyle'] %></td>
        <td><%= c['provider'] %></td>
        <td><%= c['customization'] %></td>
        <td><%= c['consumer'] %></td>
        <td><%= c['consumption'] %></td>
        <td><%= c['transport'] %></td>
        <td><%= c['integration'] %></td>
        <td><%= c['inhouse'] %></td>
        <td><%= c['contracted'] %></td>
        <td><%= c['totalScore'] %></td>
        <td> </td>

        <td><%= @risk_scores[name]['criticality'] %></td>
        <td><%= @risk_scores[name]['sensitivity'] %></td>
        <td><%= @risk_scores[name]['regulatory'] %></td>
        <td><%= @risk_scores[name]['constraint'] %></td>
        <td><%= @risk_scores[name]['totalScore'] %></td>

    </tr>
<% end %>
    </tbody>
</table>


<%= javascript_include_tag "jquery.jqplot.min"%>
<%= javascript_include_tag "jqplot.barRenderer.min"%>
<%= javascript_include_tag "jqplot.categoryAxisRenderer.min"%>
<%= javascript_include_tag "jqplot.canvasTextRenderer.min" %>
<%= javascript_include_tag "jqplot.canvasAxisTickRenderer.min" %>
<%= javascript_include_tag "jqplot.pointLabels.min"%>
<%= javascript_include_tag "jqplot.dateAxisRenderer.min"%>
<%= javascript_include_tag "canvas2image"%>
<%= javascript_include_tag "jqplot.bubbleRenderer.min"%>
<%= javascript_include_tag "jqplot.cursor.min"%>
<%= javascript_include_tag "excanvas"%>
<%= javascript_include_tag "jqplot.pieRenderer.min"%>
<%= javascript_include_tag "jqplot.pointLabels.min"%>
<%= javascript_include_tag "jqplot.canvasAxisLabelRenderer.min"%>
<%= javascript_include_tag "jqplot.highlighter.min"%>

<span id="risk"></span>
<%
    render_jqplot_chart(risk_data, 'Risk', 800, 500) 
%>
<br />
<br />
<span id="complexity"></span>
<% 
    render_jqplot_chart(complexity_data, 'Complexity', 800, 500) 
%>
<br />
<br />

<span id="complexity_risk"></span>
<%
    render_jqplot_scatter(risk_complexity_data, 'rsk_cplxty', 'Risk vs. Complexity', 'Risk Score', 'Complexity Score', 1000, 800)
%>

<span id="buckets"></span>
<%
    render_jqplot_pie(hash2array(bucket_data), 'Buckets', 500, 500)
%>

<span id="phases"></span>
<%
    render_jqplot_pie(hash2array(phase_data), 'Phases', 500, 500)
%>

<span id="solutions"></span>
<%
    render_jqplot_pie(hash2array(solution_data), 'Solutions', 500, 500)
%>

<%= javascript_include_tag "jquery.dataTables.min"%>
<%= javascript_include_tag "FixedHeader"%>

<script type="text/javascript">
    var oTable = $('#applications').dataTable( {
        "sScrollX": "800px",
        "sScrollY": "600px",
        "bScrollCollapse" : true
    });
</script>
