<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @consumption.name %>
</p>

<p>
  <strong>Share:</strong>
  <%= @consumption.share %>
</p>

<%= link_to 'Edit', edit_consumption_path(@consumption) %> |
<%= link_to 'Back', consumptions_path %>
